/proj_test/GUI_test/nbproject/private/
/proj_test/GUI_test/build/
/proj_test/GUI_test/dist/
/proj_test/chess_inspirace/nbproject/private/
/proj_test/chess_inspirace/build/
/proj_test/chess_inspirace/dist/
/proj_test/FXML_Test/nbproject/private/
/proj_test/FXML_Test/build/
/proj_test/FXML_Test/dist/