/proj_test/FXML_Test/nbproject/private/
/proj_test/FXML_Test/build/
/proj_test/FXML_Test/dist/
/proj_test - kopie/FXML_Test/build/
/proj_test - kopie/FXML_Test/dist/
/proj_test - kopie/FXML_Test/nbproject/private/
/FXML_Test/build/
/FXML_Test/dist/
/FXML_Test/nbproject/private/
/Projekt/build/
/Projekt/dist/
/Projekt/nbproject/private/